// $background-color: #1e1e1e;
$background-color: #24201e;

$primary-color: #ffffff;
$secondary-color: #fae315;
$employer-color: #f799ee;
$disabled-color: #969696;

$project-colors: (
  1: #ef7b43,
  2: #4c6df0,
  3: #ec2c4f,
  4: #dd00d4,
  5: #ef7b43,
);
